@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.container .header {
    text-align: center;
    background-color: rgb(0, 140, 255);
    color: #fff;
    padding: 10px;
}

.container .form {
    padding: 20px;
}

.container .form .form-item {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-item label {
    color: rgb(0, 140, 255);
    display: inline-block;
}

.form-item input {
    display: block;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form-item input:focus {
    border: 1px solid rgb(0, 140, 255);
    outline: none;
}

.form-item i {
    position: absolute;
    top: 35px;
    right: 10px;
    visibility: hidden;
}

.form-item small {
    visibility: hidden;
    margin-bottom: 5px;
}

.form button {
    width: 100%;
    background-color: rgb(0, 140, 255);
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 7px;
    cursor: pointer;
}

/* Error and Success */
.form-item.error input {
    border-color: #f00;
}

.form-item.success input {
    border-color: #0f0;
}

.form-item.error i.fa-exclamation-circle {
    color: #f00;
    visibility: visible;
}

.form-item.success i.fa-check-circle {
    color: #0f0;
    visibility: visible;
}

.form-item.error small {
    visibility: visible;
    color: #f00;
}