@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

* {
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --defaultColor: #06f;
}

body {
    height: 100vh; width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--defaultColor);
}

.container {
    position: relative;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: .6rem;
    box-shadow: 0 .5rem 1rem #0002;
    overflow: hidden;
}
.container.active .login {
    margin-left: -50%;
}
.container.active .forms{
    height: 549px;
}

.container .forms {
    width: 200%;
    display: flex;
    align-items: center;
    height: 389px;
    transition: all .3s ease;
}

.container .form {
    padding: 2rem;
    width: 50%;
    background-color: #fff;
    transition: all .18s ease;

}
.container .form .title {
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    color: #000;
}

.form .form-field {
    margin-top: 2rem;
    position: relative;
    height: 3rem;
    width: 100%;
}
.form-field input{
    height: 100%; width: 100%;
    border: none;
    background: none;
    border-bottom: 2px solid #ccc;;
    outline: none;
    padding: 0 2.2rem;
    font-weight: 500;
    transition: all .2s ease;
}
.form-field input:focus{
    border-bottom-color: var(--defaultColor);
}
.form-field input:focus ~ .icon-input {
    color: var(--defaultColor);
}

.form-field .icon-input {
    position: absolute;
    top: 50%; left: .4rem;
    color: #999;
    transform: translateY(-50%);
    transition: all .2s ease;
}
.form-field .icon-msg {
    position: absolute;
    right: .4rem;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
}
small {
    visibility: hidden;
}

.login .login-error {
    color: #f00;
    font-size: .8rem;
    text-align: center;
    margin-top: 1rem;
    display: none;
}

button {
    width: 100%;
    border: none;
    margin-top: 2rem;
    padding: .4rem;
    border-radius: .6rem;
    background: var(--defaultColor);
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
button:hover {
    opacity: .85;
}

.form .login-signup, .form .login-signin {
    text-align: center;
    margin-top: 1rem;
    font-size: .9rem;
}
span {
    color: var(--defaultColor);
    cursor: pointer;
}
span:hover {
    text-decoration: underline;
}

/* Success and Error */
.form-field.error input{
    border-bottom: 2px solid #f00;
    background-color: #ffd0d0;
}
.form-field.error .fa-circle-exclamation, .form-field.error small{
    color: #f00;
    visibility: visible;
}

.form-field.success input{
    border-bottom: 2px solid #0f0;
    background-color: #d0ffd0;
}
.form-field.success .fa-circle-check{
    color: #0f0;
    visibility: visible;
}

/* Modal */
.modal-container{display: none}

.modal-container.active {
    position: fixed;
    z-index: 1;
    top: 0; left: 0;
    bottom: 0; right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbb9;
}

.modal-container.active .modal {
    animation: modal .3s ease;
}
@keyframes modal {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    } 100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-container .modal {
    background-color: #fff;
    padding: 1rem;
    border-radius: .4rem;
    text-align: center;
    box-shadow: .2rem .2rem .6rem #0005;
}
.modal-container .modal i {
    font-size: 2.2rem;
    color: #0f0;
    margin-top: 1rem;
}
.modal-container .modal p {
    font-weight: 500;
    margin-bottom: 1rem;
}
.modal p:nth-child(2) {
    color: #0f0;
}
.modal .modal-btn {
    background-color: #f00;
    color: #fff;
    width: max-content;
    padding: .2rem .8rem;
    border-radius: .2rem;
    font-size: .9rem;
    margin: 2rem auto;
    cursor: pointer;
}
.modal .modal-btn:hover {opacity: .85}

/* Home */
.home-container {
    display: none;
}
.home-container.active {
    position: fixed;
    z-index: 2;
    top: 0; left: 0;
    bottom: 0; right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
}
@keyframes home {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    } 100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.home-container.active .home {
    animation: home .4s ease;
}

.home-container .home{
    box-shadow: 0 0 1rem #0004;
    border-radius: .5rem;
    padding: 4rem 2rem;
    background-color: #fff;
}

.home-container h2 {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 2rem;
}
.home-container p {
    letter-spacing: .1rem;
    font-size: .8rem;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    body {
        background-color: #fff;
    }
    .container {
        box-shadow: 0 0 0;
    }
}